# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/Sem 2/Books & Misc/*
/Sem 3/Books and Misc/*
/Sem 4/OOP/OOPLabJava/nbproject/private/
/Sem 4/OOP/OOPLabJava/build/
Sem 4/COMP ARCH/Lecture-1.pdf
*.pdf
Sem 4/Microprocessor/JK_MicroProcessor1.pdf
*.pdf
*.pdf
/Sem 4/OOP/OOPLabJava/dist/
/Sem 4/OOP/SnakeGame/nbproject/private/
/Sem 4/OOP/SnakeGame/build/
Sem 4/OOP/SnakeGame/src/OnlineSample/head.jpg
Sem 4/OOP/SnakeGame/src/OnlineSample/dot.jpg
Sem 4/OOP/SnakeGame/src/OnlineSample/apple.jpg
**/__pycache__/*
